body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

#calculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 1;
    width: 400px;
    height: 600px;
    background-color: lightblue;
    margin: 50px;
}

#screen {
    display: flex;
    flex: 1 0 1;
    justify-content: right;
    align-items: center;
    background-color: black;
    width: 80%;
    height: 32px;
    padding: 10px;
    margin: 20px 0;
}

#screen span {
    font-size: 20px;
    color: white;
}

#touchpad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    height: 50%;
    background-color: grey;
    padding: 10px;
}

.keys{
    display: flex;
    flex: 1 0 1;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.solo-key, .math-key, .num-key, .result-key, .delete-key, .delete-all-key {
    display: flex;
    flex: 1 0 1;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    border: 3px solid black;
    box-sizing: border-box;
    box-shadow: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
}
