body {
    height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 0 1;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
    gap: 50px;
}


#calculator{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex: 1 0 1;
    width: 400px;
    height: 500px;
    margin-top: 50px;
    background-color: lightblue;
    border: 3px solid black;
    border-radius: 3%;
    box-sizing: border-box;
    padding: 15px 0;
}

#screen {
    display: flex;
    flex: 1 0 1;
    justify-content: right;
    align-items: center;
    background-color: black;
    width: 85%;
    height: 15%;
    border-radius: 3%;
}

#screen span {
    font-size: 20px;
    color: white;
    padding: 10px;
}

#touchpad {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    width: 80%;
    height: 70%;
    background-color: grey;
    padding: 10px;
    border-radius: 3%;
}

.keys{
    display: flex;
    flex: 1 0 1;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.solo-key, .math-key, .num-key, .result-key, .delete-key, .delete-all-key {
    display: flex;
    flex: 1 0 1;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    border: 3px solid black;
    border-radius: 20%;
    box-sizing: border-box;
    box-shadow: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
}

